[task.ocp4-cis-profile-to-oscal-cd]

component-name = OSCO

folder-cac = adjunct-data/nist-high-benchmarks/content

org-name = International Business Machines
org-remarks = IBM

output-dir = component-definitions/ocp4-nist-high

profile-name = OCP4 NIST-High-benchmark v4
profile-mnemonic = ocp4-nist-high-node
profile-ns = https://ibm.github.io/compliance-trestle/schemas/oscal/ibm-cloud
profile-version = 1.1
profile-check-version = 0.1.58

profile-type = OCP4
profile-list = nist-high-node nist

profile-file.cis-node = ${folder-cac}/products/ocp4/profiles/high-node.profile
profile-url.cis-node = https://github.com/ComplianceAsCode/content/blob/master/products/ocp4/profiles/high-node.profile
profile-title.cis-node = NIST High Red Hat OpenShift Container Platform 4 Benchmark

profile-file.cis = ${folder-cac}/products/ocp4/profiles/high.profile
profile-url.cis = https://github.com/ComplianceAsCode/content/blob/master/products/ocp4/profiles/high.profile
profile-title.cis = NIST High Red Hat OpenShift Container Platform 4 Benchmark

selected-rules  = adjunct-data/task-files/selected_rules.json
enabled-rules  = adjunct-data/task-files/enabled_rules.json
